{% extends 'main.html' %}

{% block content %}

<div>
    {% if erro == True %}
        <p> Selecione uma pessoa cadastrada! <p>
    {% endif %}
    
    <h2>{{título}}</h2>
    <form method="POST" action="">
        {% csrf_token %}
            
        <label for="superior">{{superior_str|capfirst}}:</label> 
        <input required type="text" value="{{hierarquia_selecionada}}" name="superior" list="superior-list">
        <datalist id="superior-list">
            <select id="superior">
            {% for superior in superiores %}
                <option value="{{superior}}">{{superior}}</option>
            {% endfor %}
            </select>            
        </datalist>

        <label for="pessoa">{{pessoa_str|capfirst}}:</label> 
        <input required type="text" value="{{pessoa_selecionada.nome}} ({{pessoa_selecionada.cpf}})" name="pessoa" list="pessoa-list">
        <datalist id="pessoa-list">
            <select id="pessoa">
            {% for pessoa in pessoas %}
                <option value="{{pessoa.nome}} ({{pessoa.cpf}})">{{pessoa.nome}} ({{pessoa.cpf}})</option>
            {% endfor %}
            </select>            
        </datalist>
    
        <button>Salvar</button>
    
        <a href="{{request.META.HTTP_REFERER}}">Voltar</a>
    </form>
</div>

{% endblock content %}