{% extends 'main.html' %}

{% block content %}

<div>
    <h2>{{título}}</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <p>Dados do {{hierarquia}}:</p>
            <label for="grupo">Grupo:</label> 
            <input required type="text" value="{{equipeSelecionada.grupo}}" name="grupo" list="grupo-list">
            <datalist id="grupo-list">
                <select id="grupo">
                {% for grupo in grupos %}
                    <option value="{{grupo.grupo}}">{{grupo.grupo}}</option>
                {% endfor %}
                </select>            
            </datalist>

            <label for="equipe">Equipe:</label> 
            <input required type="text" value="{{equipeSelecionada.coordenador}}" name="coordenador" list="equipe-list">
            <datalist id="equipe-list">
                <select id="equipe">
                {% for equipe in equipes %}
                    <option value="{{equipe.coordenador}}">{{equipe.coordenador}}</option>
                {% endfor %}
                </select>            
            </datalist>
        <button>Salvar</button>
        <a href="{{request.META.HTTP_REFERER}}">Voltar</a>
    </form>
</div>

{% endblock content %}