{% extends 'main.html' %}

{% block content %}

<div>
    {% if erro == True %}
        <p> Selecione uma pessoa cadastrada! <p>
    {% endif %}
    <h2>{{título}}</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <p>Dados {{subtítulo}}:</p>
            <label for="grupo">Grupo:</label> 
            <input required type="text" value="{{equipe_selecionada.grupo}}" name="grupo" list="grupo-list">
            <datalist id="grupo-list">
                <select id="grupo">
                {% for grupo in grupos %}
                    <option value="{{grupo.grupo}}">{{grupo.grupo}}</option>
                {% endfor %}
                </select>            
            </datalist>

            <label for="equipe">Equipe:</label> 
            <input required type="text" value="{{equipe_selecionada.coordenador}} ({{equipe_selecionada.coordenador.cpf}})" name="coordenador" list="equipe-list">
            <datalist id="equipe-list">
                <select id="equipe">
                {% for pessoa in pessoas %}
                    <option value="{{pessoa}} ({{pessoa.cpf}})">{{pessoa}} ({{pessoa.cpf}})</option>
                {% endfor %}
                </select>            
            </datalist>
        <button>Salvar</button>
        <a href="{{request.META.HTTP_REFERER}}">Voltar</a>
    </form>
</div>

{% endblock content %}